$cWhite: white;
$cBlack: black;
$contentMaxWidth: 1280px;
$navHeight: 100px;

body {
  font-family: 'Noto Sans JP', 'Kameron', sans-serif;
  background-color: #EEEEEE;
  font-size: 16px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
section {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#container {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
  background-color: $cWhite;
}

.intro__inner {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  background-color: $cWhite;

  & .menu {
    margin: 8px auto;
    font-size: 1.2em;
    text-align: center;
  }
  & .page_descript {
    font-size: 1em;
    margin: 8px 12px;
  }
}

.graph__inner {
  display: block;
  height: 950px;
  margin: 0 auto;
  flex-direction: column;
  background-color: $cWhite;

  &__left {
    float: left;
    width: 34%;

    & .location_description{
      height: 50px;
      padding: 10px;
      background-color: $cWhite;
      font-size: 1.4em;
      font-weight: 600;
      text-align: center;
    }
  }

  &__right {
    float: right;
    width: 66%;
    display: block;

    & .right__map {
      width: 100%;
    }
    & .right__graphs {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      & .right__cell {
        flex-basis: 50%;
      }
    }
  }
}

.description_sec {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  background-color: $cWhite;
  display: block;

  & .description__inner{
    width: 70%;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
  }
  & .description {
    padding-bottom: 12px;
  }
}

.footer_sec {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #303030;
  color: $cWhite;

  & .footer__inner {
    margin: 0px auto;
    padding: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .author, .github {
      width: 25%;
      padding-top: 5px;
      text-align: center;
    }

    & .copyright {
      width: 100%;
      margin: 0 auto;
      padding: 0 auto;
      text-align: center;
      color: #9b9b9b;
      font-size: 0.8em;
    }
  }

  & a {
    color: #A9F5F2;
    & :hover {
      text-decoration: underline;
    }
  }
}

#plot_temp_stripe {
  width: 100%;
  height: 100px;
}
#plot_temp_yearly,
#plot_temp30days_yearly,
#plot_temp_monthly {
  width: 100%;
  height: 265px;
}

#plot_map {
  width: 100%;
  height: 440px;
  margin: 0px auto;
  padding: 0px auto;
}
#plot_prep_yearly,
#plot_wind_yearly,
#plot_rain50days_yearly,
#plot_snow_yearly {
  width: 100%;
  height: 253px;
}